{% extends "./main.html" %}
{% load static %}
{% block title %}Dashboard – GWP{% endblock %}

 {% block dashboard %}
    
      <div class="row mt-0 mb-2">

        <div class="col-lg-5 mb-lg-0 mb-0">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="" class="chart-canvas" height="60">
                    
                  </canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0"> Self-Inquiry </h6>
              <p class="text-sm ms-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
                Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
                Duis sagittis ipsum. Praesent mauris.</p>
              <div class="container border-radius-lg">
                <div class="row">
                  <div class="col-6 py-0 ps-0">
                    <div class="d-flex mb-2"> 
                      <a href="{% url 'inquiry' %}" class="btn bg-gradient-dark btn-sm w-100 mb-0"> Inquiry Now </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 mb-lg-0 mb-0">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="" class="chart-canvas" height="60"></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0"> Self Reflection</h6>
              <p class="text-sm ms-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. 
                Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
                Duis sagittis ipsum. Praesent mauris.</p>
              <div class="container border-radius-lg">
                <div class="row">
                  
                   <div class="col-6 py-0 ps-0">
                    <div class="d-flex mb-2">
                      
                      <a href="https://knowyourself-github-io.vercel.app/" target="_blank" class="btn bg-gradient-dark btn-sm w-100 mb-0"> Reflect Now </a>
                    </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Globe-->
        <div class="row">
          <div class="col-12">
            <div id="globe" class="position-absolute" style="top: 10%; right: -0px;">
              <canvas width="700" height="350" class="w-lg-100 h-lg-100 w-75 h-75 mt-lg-5"></canvas>
            </div>
          </div>
        </div>

    </div>  


      {% endblock dashboard %}