{% extends "./main.html" %}
{% load static %}
{% block title %}Inquiry – GWP{% endblock %}

{% block dashboard %}

      {% if messages %}
  <div id="message-container">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}


      <div class="container-fluid my-3 py-3">
        <div class="row mb-5">
          <div class="col-lg-3">
            <div class="card position-sticky top-1">
              <ul class="nav flex-column bg-white border-radius-lg p-3">

                <li class="nav-item pt-0">
                  <a class="nav-link text-body" data-scroll="" href="#basic-info">
                    <div class="icon me-2">
                      🎨
                    </div>
                    <span class="text-sm">Create</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#password">
                    <div class="icon me-2">
                       📖
                    </div>
                    <span class="text-sm">Study</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#2fa">
                    <div class="icon me-2">
                      🛠️ 
                    </div>
                    <span class="text-sm">Work(Vocation)</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#accounts">
                    <div class="icon me-2">
                      ❤️
                    </div>
                    <span class="text-sm">Feel</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#notifications">
                    <div class="icon me-2">
                      🏃
                    </div>
                    <span class="text-sm">Move(Body)</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#sessions">
                    <div class="icon me-2">
                      🌙
                    </div>
                    <span class="text-sm">Be(Rest & Soul)</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" data-scroll="" href="#delete">
                    <div class="icon me-2">
                       🧩
                    </div>
                    <span class="text-sm">Connect</span>
                  </a>
                </li>
                <li class="nav-item pt-2">
                  <a class="nav-link text-body" href="{% url 'inquiry_results' %}">
                    <div class="icon me-2">
                      🔍
                    </div>
                    <span class="text-sm">View My Last Inquiry</span>
                  </a> 
                </li>
              </ul>
            </div>
          </div>
          <!-- End Nav -->

          <div class="col-lg-9 mt-lg-0 mt-4">
            <form method="post">
            {% csrf_token %}
            
            <!-- Card Create -->
            <div class="card mt-0" id="basic-info">
              <div class="card-header">
                <h5>Create</h5>
              </div>
              <div class="card-body pt-0">
                <div class="row">

                  <div class="col-6">
                    <label class="form-label">
                    What do you love to make and create. With your imagination
                    or tool?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="create"
                        class="form-control"
                        type="text"
                        placeholder="Your may like to draw, crafting"
                        required="required"
                      >
                    </div>
                  </div>

                </div>
            </div>

            <!-- Card Study -->
            <div class="card mt-2" id="password">
              <div class="card-header">
                <h5>Study</h5>
              </div>
              <div class="card-body pt-0">
               <div class="row">
                    <div class="col-6">
                    <label class="form-label">
                         What subjects or skills do you enjoy learning?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="study"
                        class="form-control"
                        type="text"
                        placeholder="Math, Animals, Chemistry"
                        required="required"
                      >
                    </div>
                  </div>

               </div>
              
              </div>
            </div>

            <!-- Card Work(Vocation) -->
            <div class="card mt-4" id="2fa">
              <div class="card-header d-flex">
                <h5 class="mb-0">Work(Vocation)</h5>
                {% comment %} <span class="badge badge-success ms-auto">Enabled</span> {% endcomment %}
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-6">
                    <label class="form-label">
                         What kind of work would you like to do, joinery?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="work"
                        class="form-control"
                        type="text"
                        placeholder="Doctor, Programming, Nurse"
                        required="required"
                      >
                    </div>
                  </div>

               </div>
              </div>
            </div>

            <!-- Card Feel -->
            <div class="card mt-4" id="accounts">
              <div class="card-header">
                <h5>Feel</h5>
                <p class="text-sm">Here you can setup and manage your integration settings.</p>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                    <div class="col-6">
                    <label class="form-label">
                         How are you feeling inside these days?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="feel"
                        class="form-control"
                        type="text"
                        placeholder="I feel ok, but a bit sad"
                        required="required"
                      >
                    </div>
                  </div>

              </div>
            </div>

            <!-- Card Move(Body) -->
            <div class="card mt-4" id="notifications">
              <div class="card-header">
                <h5>Move(Body)</h5>
                <p class="text-sm">Choose how you receive notifications. These notification settings apply to the things you’re watching.</p>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                    <div class="col-6">
                    <label class="form-label">
                         How does your body like to move and stay active?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="move"
                        class="form-control"
                        type="text"
                        placeholder="Playing basketball, Dancing"
                        required="required"
                      >
                    </div>
                  </div>

              </div>
              </div>
            </div>

            <!-- Card Be(Rest & Soul) -->
            <div class="card mt-4" id="sessions">
              <div class="card-header pb-3">
                <h5>Be(Rest & Soul)</h5>
                <p class="text-sm">This is a list of devices that have logged into your account. Remove those that you do not recognize.</p>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                    <div class="col-6">
                    <label class="form-label">
                         What helps you stay calm, peaceful or closer to something bigger?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="be"
                        class="form-control"
                        type="text"
                        placeholder="Praying, Sitting quietly in nature"
                        required="required"
                      >
                    </div>
                  </div>

              </div>
                
                </div>
              </div>
            </div>

            <!-- Card Connect -->
            <div class="card mt-4" id="delete">
              <div class="card-header">
                <h5>Connect</h5>
                <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
              </div>
              <div class="card-body d-sm-flex pt-0">
                <div class="row">
                    <div class="col-12">
                    <label class="form-label">
                    Who or what do you feel close to?
                    </label>
                    <div class="input-group">
                      <input 
                        id="firstName"
                        name="connect"
                        class="form-control"
                        type="text"
                        placeholder="Family, Friends, My Dog"
                        required="required"
                      >
                    </div>
                  </div>

                    <button 
                      class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0"
                      type="submit"
                    >
                      Inquiry
                    </button>
                  </div>
              </div>
            </div>
            
          </form>
          </div>
        </div>

        
      </div>

      <script>
  setTimeout(function() {
    const container = document.getElementById('message-container');
    if (container) {
      container.style.transition = "opacity 0.5s ease-out";
      container.style.opacity = 0;
      setTimeout(() => container.remove(), 500);
    }
  }, 5000); // 5 seconds
</script>

    
   
{% endblock dashboard %}