# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# Django media/static files
/media
/staticfiles
/static/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pycharm
*.iml

# Migrations (optional – only if you prefer not to track initial migrations)
**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-global.txt
