{% extends "./header.html" %}
{% load static %}
{% block title %}Reset Password – GWP{% endblock %}

{% block content %}

    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Reset Password</h5>
              <span class="nav-link-text ms-1">Enter your email to reset your password</span>
            </div>
            <div class="card-body">
              <form method="post" class="text-start">
  {% csrf_token %}
  {% for message in messages %}
    <div class="alert alert-danger text-center">{{ message }}</div>
  {% endfor %}
  
  <div class="mb-3">
    <input type="text" name="email" class="form-control" placeholder="Email" aria-label="Email" required>
  </div>

  
  <div class="text-center">
    <a href="#" class="btn bg-gradient-dark w-100 mt-2 mb-4">Submit</a>
  </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


