{% extends "./header.html" %}
{% load static %}
{% block title %}Sign In – GWP{% endblock %}

{% block content %}

    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Sign in</h5>
            </div>
            <div class="card-body">
              <form method="post" class="text-start">
  {% csrf_token %}
  {% for message in messages %}
    <div class="alert alert-danger text-center">{{ message }}</div>
  {% endfor %}
  
  <div class="mb-3">
    <input type="text" name="username" class="form-control" placeholder="Username or Email" aria-label="Username or Email" required>
  </div>

  <div class="mb-3">
    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" required>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
  <div class="form-check form-switch m-0">
    <input class="form-check-input" type="checkbox" id="rememberMe" name="remember_me">
    <label class="form-check-label" for="rememberMe">Remember me</label>
  </div>
  <a href="{% url 'reset-password' %}" class="text-sm text-info text-gradient">Forgot password?</a>
</div>


  <div class="text-center">
    <button type="submit" class="btn bg-gradient-info w-100 my-4 mb-2">Sign in</button>
  </div>

  <div class="mb-2 position-relative text-center">
    <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
      or
    </p>
  </div>

  <div class="text-center">
    <a href="{% url 'signup' %}" class="btn bg-gradient-dark w-100 mt-2 mb-4">Sign up</a>
  </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


